/**
 * Inspirado en las variables de Bulma
 */
// Colors
$primary: #f86460 !default;
$primary-alt: #db3862 !default;
$secondary: #db3862 !default;
$secondary-alt: #db3862 !default;

$black: hsl(0, 0%, 0%) !default;
$black-alt: hsl(0, 0%, 10%) !default;

$white: hsl(0, 0%, 100%) !default;
$white-alt: hsl(0, 0%, 97%) !default;

$gray-lighter: hsl(0, 0%, 90%) !default;
$gray-light: hsl(0, 0%, 70%) !default;
$gray: hsl(0, 0%, 55%) !default;
$gray-dark: hsl(0, 0%, 45%) !default;
$gray-darker: hsl(0, 0%, 35%) !default;

$info: hsl(204, 71%, 53%) !default;
$success: hsl(141, 53%, 53%) !default;
$warning: hsl(48, 100%, 67%) !default;
$danger: hsl(348, 86%, 61%) !default;

// Typography
$font-family-primary: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$font-family-secondary: $font-family-primary !default;
$font-family-code: 'Courier New', Courier, monospace !default;

$font-size-base: 1.8rem;

$font-size-1: 3rem !default;
$font-size-2: 2.5rem !default;
$font-size-3: 1.75rem !default;
$font-size-4: 1.25rem !default;
$font-size-5: 1rem !default;
$font-size-6: 0.75rem !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;

// margins and paddings
$gap: 2rem !default;
$radius: 8px !default;
$space: 1rem !default;

// shadows
$shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;
