@import '../../../src/styles/base/reset';
@import '../../../src/styles/base/normalize';
@import '../../../src/styles/base/variables';
@import '../../../src/styles/base/responsive';
@import '../../../src/styles/themes/base';
@import '../../../src/components/01-atoms/brand/brand.scss';
// @import '../../../src/components/01-atoms/go-down/go-down.scss';
// @import '../../../src/components/01-atoms/go-up/go-up.scss';
// @import '../../../src/components/01-atoms/header/title.scss';
@import '../../../src/components/01-atoms/image/image.scss';
// @import '../../../src/components/01-atoms/link/link.scss';
@import '../../../src/components/01-atoms/menu-icon/menu-icon.scss';
// @import '../../../src/components/01-atoms/typewriter/_typewriter.scss';
@import '../../../src/components/02-molecules/menu/menu.scss';
// @import '../../../src/components/02-molecules/languages/languages.scss';
@import '../../../src/components/02-molecules/page-image/page-image.scss';
@import '../../../src/components/02-molecules/page-text/page-text.scss';
@import '../../../src/components/03-organisms/coming-soon/coming-soon.scss';

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  height: 100vh;
}

.container {
  position: relative;
  background-color: $gray-lighter;
}

.full-height {
  position: relative;
  height: 100vh;
}

.data-not-found {
  font-size: $font-size-4;
  background-color: $warning;
  padding: 0.25rem 1rem;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
