.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  .brand {
    // custom styles
  }
  .menu-icon {
    width: 40px;
    height: 40px;
  }
  .menu {
    position: fixed;
    top: 60px;
    bottom: 0;
    right: -100%;
    z-index: 10;
    transition: 0.3s
  }

  &.active {
    .menu {
      display: block;
      right: 0;
    }
  }

  @include small-devices {
    flex-direction: row;
    .menu {
      position: relative;
      top: auto;
      right: auto;
      z-index: auto;
      height: auto;
      display: flex;
    }
    .menu-icon {
      display: none;
    }
  }
}
