{{#if contact }}
<section class="contact">
  <h2>{{ contact._input.title }}</h2>
  <form class="contact-form">
    <fieldset>
      <legend></legend>
      <div>
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname" value="John" />
      </div>
      <div>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname" value="Doe" />
      </div>
      <input type="submit" value="Submit" />
    </fieldset>
  </form>
</section>
{{else}}
  {{>dataNotFound data='contact'}}
{{/if}}
