.social-networks {
  .item {
    margin-bottom: 0.25rem;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
