{{#exists brand data="brand"}}
  <div class="brand">
    <a href="{{url}}">
      <img src="{{imageSource image.source}}" alt="{{image.description}}" />
      {{#if name}}
        <p>{{name}}</p>
      {{/if}}
    </a>
  </div>
{{/exists}}
