<button id="go-down" class="go-down">
  {{#if goDown}}
    <img src="{{ icon }}" />
  {{else}}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="75pt"
      height="74.999997pt"
      viewBox="0 0 75 74.999997"
      version="1.2"
    >
      <defs>
        <clipPath id="clip1">
          <path d="M 0 15.09375 L 75 15.09375 L 75 60.09375 L 0 60.09375 Z M 0 15.09375 " />
        </clipPath>
      </defs>
      <g id="surface1">
        <g clip-path="url(#clip1)" clip-rule="nonzero">
          <path
            style="stroke: none; fill-rule: nonzero;  "
            d="M 74.917969 22.949219 L 37.625 60.085938 L 0.0703125 22.691406 L 7.707031 15.085938 L 37.625 44.878906 L 67.28125 15.34375 L 74.917969 22.949219 "
          />
        </g>
      </g>
    </svg>
  {{/if}}
</button>
