@import '../base/variables';

:root {
  // Colors
  --primary: #{$primary};
  --primary-alt: #{$primary-alt};
  --secondary: #{$secondary};
  --secondary-alt: #{$secondary-alt};

  --background: #{$background};
  --background-alt: #{$background-alt};
  --background-body: #{$background-body};

  --black: #{$black};
  --black-alt: #{$black-alt};

  --white: #{$white};
  --white-alt: #{$white-alt};

  --gray-lighter: #{$gray-lighter};
  --gray-light: #{$gray-light};
  --gray: #{$gray};
  --gray-dark: #{$gray-dark};
  --gray-darker: #{$gray-darker};

  --info: #{$info};
  --success: #{$success};
  --warning: #{$warning};
  --danger: #{$danger};

  --breakpoint-small: #{$breakpoint-small};
  --breakpoint-medium: #{$breakpoint-medium};
  --breakpoint-large: #{$breakpoint-large};
  --breakpoint-wide: #{$breakpoint-wide};

}

@mixin darkMode {
  // Colors
  --primary: #{$primary};
  --primary-alt: #{$primary-alt};
  --secondary: #{$secondary};
  --secondary-alt: #{$secondary-alt};

  --background: #{$background};
  --background-alt: #{$background-alt};
  --background-body: #{$background-body};

  --black: #{$white};
  --black-alt: #{$white-alt};

  --white: #{$black};
  --white-alt: #{$black-alt};

  --gray-lighter: #{$gray-lighter};
  --gray-light: #{$gray-light};
  --gray: #{$gray};
  --gray-dark: #{$gray-dark};
  --gray-darker: #{$gray-darker};

  --info: #{$info};
  --success: #{$success};
  --warning: #{$warning};
  --danger: #{$danger};
}
html[data-theme='dark'] {
  @include darkMode;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include darkMode;
  }
}
