.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  // height: 100%;
  // display: flex;
  // flex-direction: column;
  &-item {
    display: flex;
    align-items: center;
    a {
      display: inline-block;
      padding: 0.75rem 1rem;
    }
    // &:hover {
    //   background-color: $gray-light;
    //   a {
    //     color: $white-alt;
    //   }
    // }
  }
  @include small-devices {
    display: flex;
    flex-direction: row;
    // &-item {
    //   // display: inline-block;
    //   a {
    //     // padding: 0.5rem;
    //   }
    // }
  }
}
