<div id="go-up" class="go-up">
  {{#if goUp }}
    <img src="{{ icon }}" />
  {{else}}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="75pt"
      height="74.999997pt"
      viewBox="0 0 75 74.999997"
      version="1.2"
    >
      <defs>
        <clipPath id="clip1">
          <path d="M 0 14.90625 L 75 14.90625 L 75 59.90625 L 0 59.90625 Z M 0 14.90625 " />
        </clipPath>
      </defs>
      <g id="surface1">
        <g clip-path="url(#clip1)" clip-rule="nonzero">
          <path
            style="stroke: none; fill-rule: nonzero;"
            d="M 0.0820312 52.050781 L 37.375 14.914062 L 74.929688 52.308594 L 67.292969 59.914062 L 37.375 30.121094 L 7.71875 59.65625 L 0.0820312 52.050781 "
          />
        </g>
      </g>
    </svg>
  {{/if}}
</div>
