.language {
  display: flex;
  align-items: center;
  justify-content: center;
  &-item {
    &::after {
      content: '';
      border-left: 1px solid $black;
      margin: 0 0.5rem;
    }
    &:last-child::after {
      border-left: none;
      margin: 0;
    }

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
