/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  width: 100%;
  position: relative;

  &-header {
    border: none;
    outline: none;
    background-color: $white-alt;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .image {
      width: 100%;
      margin-bottom: 1rem;
    }
    .heading {
      margin-bottom: 1rem;
      flex-grow: 2;
      .title {
        font-weight: $weight-medium;
      }
      .subtitle {
        font-weight: $weight-light;
      }
    }
    .toggle {
      cursor: pointer;
    }
    .close {
    }
    @include small-devices {
      flex-direction: row;
      align-items: center;
      .image {
        width: 200px;
        margin-right: 1rem;
        margin-bottom: 0;
      }
      .heading {
        margin-bottom: 0;
      }
    }
  }

  /* Style the accordion panel. Note: hidden by default */
  &-content {
    padding: 0 1rem;
    background-color: $white;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    h5 {
      padding: 1rem 0 0.5rem;
      font-weight: $weight-medium;
      font-size: $font-size-5;
    }
    p {
      padding: 0 0 1rem;
    }
  }

  &-footer {
    padding: 0 0 1rem;
    text-align: right;
    .close {
      background: none;
      border: none;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
