{{#if sectionSkills }}
  {{#exists sectionSkills }}
    <section class="section-skills">
      <h2 class="title">{{ title }}</h2>
      {{#if wordcloud }} {{>wordcloud  }} {{/if }}
    </section>
  {{/exists }}
{{else}}
  {{> @data-not-found data='sectionSkills'}}
{{/if}}
