html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  font-family: $font-family-primary;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

// nav {
//   padding: 2rem 0;
//   position: fixed;
//   width: 100%;
//   scroll-snap-align: start;
//   z-index: 2;
// }

// header {
//   height: 100vh;
//   scroll-snap-align: start;
// }

// section {
//   min-height: 100vh;
//   padding: 10rem 4rem 4rem;
//   scroll-snap-align: start;
// }

// footer {
//   position: relative;
//   padding: 2rem;
//   text-align: center;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   scroll-snap-align: end;
//   @include small-devices {
//     flex-direction: row;
//   }
// }

.data-not-found {
  font-size: x-large;
  background-color: $warning;
  padding: 0.25rem 1rem;
}
