html {
  scroll-snap-type: proximity;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity;
}

nav {
  scroll-snap-align: start;
}

header {
  scroll-snap-align: start;
}

section {
  scroll-snap-align: start;
}

footer {
  scroll-snap-align: end;
}
