<table style='font-family: Arial, Helvetica, sans-serif; font-size: medium;'>
  <tr>
    <td>
      <hr />
      <p style='font-size: 14px;'>Markus C. Berger</p>
      <p style='font-size: 14px;'>Dipl.-Ing.</p>
      <p style='font-size: 14px;'>Projektleitung</p>
      <hr />
      <p style='font-size: 14px; font-weight: 600;'>
        Bildraum
        <br />
        Büro für Mediengestaltung
      </p>
      <p style='font-size: 14px;'>
        Büro Wien
        <br />
        Gurkgasse 43/2, 1140 Wien
        <br />
        Tel: +43(0)1 9236472
        <br />
        Mail: bw@bildraum.at
        <br />
        <br />
        Büro Graz
        <br />
        Grabenstraße 11, 8010 Graz
        <br />
        Tel: +43(0)316 232230
        <br />
        Mail: bg@bildraum.at
      </p>
      <a
        style='font-size: 14px; font-weight: 600; text-decoration: none; color: black;'
        target='blank'
        href='https://bildraum.at'
      >www.bildraum.at</a>
    </td>
  </tr>
</table>
