<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Preview</title>
    <link rel="stylesheet" href="{{path '/styles/preview.css'}}">
  </head>
  <body>
    <header class="container full-height">
      <h1>Header</h1>
    </header>
    <section class="container full-height">
      <h1>Section</h1>
      {{{yield}}}
    </section>
    <style>
      .go-up {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
      }
    </style>
    <script type="module">
      import initGoUp from '{{path '/scripts/go-up.js'}}'
      initGoUp()
      window.scrollTo(0, document.body.offsetHeight)
    </script>
  </body>
</html>
