.typewriter {
  font-size: 2rem;
  &::after {
    content: attr(data-caret);
    opacity: 1;
    animation: typewriter 0.75s steps(1) infinite;
    // animation: typewriter 0.5s steps(30, end) 1s 1 normal both;
    // animation: typewriter 1s steps(30, end) 1s 1 normal both,
    //   blinkTextCursor 500ms steps(30, end) infinite normal;
  }

  // .caret {
  //   vertical-align: sub;
  //   display: inline-block;
  //   height: 100%;
  //   margin-left: 0.1em;
  //   width: 0em;
  //   animation: blink-caret 0.75s steps(1) infinite;
  //   &.v {
  //     border-right: 0.075em solid;
  //   }
  //   &.h {
  //     width: 0.6em;
  //     border-bottom: 0.075em solid;
  //   }
  // }
  // /* The typewriter cursor effect */
  @keyframes typewriter {
    50% {
      opacity: 0;
    }
  }
}
