@import '../../assets/styles/base/reset';
@import '../../assets/styles/base/normalize';
@import '../../assets/styles/base/variables';
@import '../../assets/styles/base/responsive';
@import '../../assets/styles/themes/base';
@import '../../components/**/*.scss';

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  height: 100%;
}

.container {
  position: relative;
  padding: 0.5rem;
  background-color: $background-alt;
  text-align: center;
}


.full-height {
  position: relative;
  height: 100vh;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}


.data-not-found {
  font-size: $font-size-4;
  background-color: $warning;
  padding: 0.25rem 1rem;
}

a {
  //   color: $gray-dark;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

