{{#if comingSoon }}
  {{#exists comingSoon }}
    <div class="coming-soon">
      {{> @image-simple}}
      <h1 class="title">{{ title }}</h1>
      <p class="text">{{ text }}</p>
    </div>
  {{/exists}}
{{else}}
  {{> @data-not-found data='comingSoon'}}
{{/if}}
