{{#exists footer}}
  <footer id="{{id}}">
    <div class="contact">
      {{#exists address}}
        {{#each this}}
          {{> @address address=this}}
        {{/each}}
      {{/exists}}
      <a class="impressum" href="/impressum">impressum</a>
    </div>
    {{> @copyright}}
    {{> @author}}
  </footer>
{{else }}
  {{> @data-not-found data='image'}}
{{/exists}}
