
/**
 * https://medium.com/codeartisan/breakpoints-and-media-queries-in-scss-46e8f551e2f2
 * https://www.mydevice.io/
 * https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries
 * https://developers.google.com/web/fundamentals/design-and-ux/responsive
 * http://devfacts.com/media-queries-breakpoints-2020/
 * https://www.browserstack.com/guide/ideal-screen-sizes-for-responsive-design
 */


// Responsive
$breakpoint-small: 640px; // Small tablets and large smartphones
$breakpoint-medium: 960px; // tablets, small laptops
$breakpoint-large: 1344px; // laptops, desktop
$breakpoint-wide: 1920px; // Extra large laptops and desktops

:root {
  --breakpoint-small: #{$breakpoint-small};
  --breakpoint-medium: #{$breakpoint-medium};
  --breakpoint-large: #{$breakpoint-large};
  --breakpoint-wide: #{$breakpoint-wide};
}

/**
 * Aqui se agregan todos los mixins que me ayude a generar
 * colores, formas, etc, solo las realmente y minimamente necesarias
 */
@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}




@mixin small-devices {

  @media screen and (min-width: #{$breakpoint-small}) {
    @content;
  }
}

@mixin small-devices-landscape {
  @media screen and (min-width: #{$breakpoint-small}) and (orientation: landscape) {
    @content;
  }
}

@mixin medium-devices {
  @media screen and (min-width: #{$breakpoint-medium}) {
    @content;
  }
}
@mixin medium-devices-landscape {
  @media screen and (min-width: #{$breakpoint-medium}) and (orientation: landscape) {
    @content;
  }
}

@mixin large-devices {
  @media screen and (min-width: #{$breakpoint-large}) {
    @content;
  }
}

@mixin wide-devices {
  @media screen and (min-width: #{$breakpoint-wide}) {
    @content;
  }
}
